:root{
    --primary:#212529;
    --component:#3a4046;
    --dark:#1b1f22;
    --border:#464C53;
    --foreground1:#63696f;
    --foreground2:#e6e7e7;
    --green-color:#198754;
    --red-color:#dc3545;
}

*{
    margin:0;
    padding:0;
}