.search_component{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top:20px;
}

.search_component input[type="text"]{
    font-size:17px;
    padding:5px;
    width:540px;
    border:solid 2px var(--border);
    background-color: var(--component);
    color: var(--foreground2);
    border-radius:10px;
    outline:none;
    border-right:none;
    border-top-right-radius: 0;
    border-bottom-right-radius:0;
}

.search_component button[type="submit"]{
    border:solid 2px var(--border);
    background-color: var(--component);
    color: var(--foreground1);
    border-radius: 10px;
    border-left:none;
    border-top-left-radius: 0;
    border-bottom-left-radius:0;
    font-size:14px;
    position:absolute;
    padding:1.3px;
    cursor:pointer;
}
